@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

.slick-slide > div {
  margin: 0 10px;
}

.slick-prev:before {
  position: absolute;
  top: -220px;
  display: none;
}

.slick-next:before {
  position: absolute;
  top: -220px;
  background-color: white;
  display: none;
  font-size: 100px;
}

.slick-slide > div {
  margin: 20px;
}
